[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = RARA2800
	email = 96716171+RARA2800@users.noreply.github.com
